*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.content {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 4px;
  width: 30%;
}

.like_flash{
  color: orangered;
}

.profile_list {
  list-style: none;
  font-size: 24px;
  font-weight: bolder;
}
